<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="EQLogAnalyzer.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
    <userSettings>
        <EQLogAnalyzer.My.MySettings>
            <setting name="MainLastPos" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="MainLastSize" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="LastLogPath" serializeAs="String">
                <value>C:\Users\Public\Daybreak Game Company\Installed Games\EverQuest\Logs\</value>
            </setting>
            <setting name="LastLogFile" serializeAs="String">
                <value />
            </setting>
            <setting name="LastSplitter" serializeAs="String">
                <value>220</value>
            </setting>
            <setting name="LastNonMelee" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="GapSecs" serializeAs="String">
                <value>360</value>
            </setting>
            <setting name="MinAttacks" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="ChartLastPos" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="ChartLastSize" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="ChartLastRaid" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ChartLastGroup" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ChartLastPersonal" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ChartLastAgg" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="LastChartUptime" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="LastServerPos" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="LastServerSize" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="LastMergePets" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LastIncludePets" serializeAs="String">
                <value>True</value>
            </setting>
        </EQLogAnalyzer.My.MySettings>
    </userSettings>
</configuration>
